body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
@font-face {
  font-family: monospace;
  src: url(../assets/fonts/monospace.ttf);
}
@font-face {
  font-family: fabrica;
  src: url(../assets/fonts/fabrica.otf);
}
/*NAV BAR*/
ul {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 99vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  padding-right: 100px;
  margin-top: 0px
}
li {
  display: table-cell; 
  position: relative; 
  padding: 8px 0;

}
ul a, .fa-solid {
  color: #ffff;
  font-family: fabrica;
  font-size: 1rem;
}
li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
}
li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after { 
  width: 110%; 
  left: 0; 
}



.fa-solid {
  line-height: 1.6;
  font-weight: 200;
  padding-right: 7px;
  border-radius: 5px;
  margin: 0;

}
.title,
.slogan {
  z-index: 1;
  font-family: monospace;
}
.titlespan {
  color: #50d84be0;
  font-size: 5rem;
  font-weight: 500;
  display: inline-block;
}
.slogan {
  opacity: 0;
  color: rgba(255, 253, 227, 0.651);
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 60px 0;
}
.homepage-nav {
  opacity: 0;
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.slogan, .homepage-nav {
  animation: ghostin 1.2s 0.4s forwards;
}
.homepage-btn {
  height: 50px;
  width: 200px;
  z-index: 1;
  background-color: #ffffff07;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.5s;
  border: 1px solid #ffffff00;
}
.homepage-btn:hover {
  border: 1px solid #ffffff7e;
  background-color: #ffffff1a;
}
footer {
  position: absolute;
  bottom: 0;
  width: 95vw;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
footer a{
  color: #ffff;
  font-family: monospace;
  font-size: 0.95rem;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.copyright {
  margin-left: auto;
}
.dot {
  height: 0.3rem;
  width: 0.3rem;
  background-color: #ffff;
  border-radius: 200px;
}