body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@font-face {
  font-family: monospace;
  src: url(../assets/fonts/monospace.ttf);
}
.title,
.slogan {
  z-index: 1;
  font-family: monospace;
}
.title {
  color: rgb(80, 216, 75);
  font-size: 4rem;
  font-weight: 900;
  margin: 0rem;
}
.slogan {
  color: rgb(240, 234, 150);
  font-size: 1.5rem;
  font-weight: 300;
}
.homepage-nav {
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.homepage-btn {
  height: 50px;
  width: 200px;
  z-index: 1;
  background-color: rgb(44, 44, 44);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
